.player_wrapper {
    height: 90px;
    position: absolute;
    bottom: -125px;
    width: 100%;
    border-bottom: 3px solid #fff;
    background-color: #99999923;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .buttons{
        height: inherit;
        width: 90px;
        border-right: 1px solid rgba(255, 255, 255, 0.205);
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 12px;
        }
    }

    .music_info{
        width: calc(100% - 210px );
        padding-left: 30px;
        .duration{
            color:rgba(255, 255, 255, 0.473);
            font-size: 12px;
        }
    }
}