.banner_wrapper{
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    // background:linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89),),url(../../Assets/img/xix.svg);
    
    .info_project_wrapper{
        position: absolute;
        bottom: 0;
        max-width: 400px;
        width: 100%;
        background: #111;
        padding: 32px 96px 32px 64px;
        grid-row: 2;
        align-self: flex-start;
        // margin-left: 50px;
        .primary{
            font-size: 2rem;
            font-weight: bold;
        }
        .secundary{
            font-size: 12px;
            margin-top: 20px;
        }

    }
}